* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 300px;
}
.display {
  width: 100%;
  height: 60px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  font-size: 1.5rem;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.operator {
  /* color:  #ffeb3b; */
  color: red;
}

button[value="="] {
  background: #ff9800;
  color: white;
  grid-column: span 2;
}

button[value="C"] {
  background: #e91e63;
  color: white;
}
