* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulseGlow {
  0% {
    text-shadow: 0 0 10px #00ffe7;
  }
  50% {
    text-shadow: 0 0 20px #00ffe7;
  }
  100% {
    text-shadow: 0 0 10px #00ffe7;
  }
}


body {
  height: 100vh;
  width: 100vw;
 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#clock-box {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px 60px;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.4);
  opacity: 0;
  animation: fadeIn 1s ease-out;
  animation-fill-mode: forwards;
}

#clock {
  font-family: "Orbitron", sans-serif;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 0px 0 12px #00ffcc;
  animation: pulseGlow 5s infinite ease-in-out;
}

@media (max-width: 768px) {
  #clock {
    font-size: 60px;
  }

  #clock-box {
    padding: 20px 30px;
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  #clock {
    font-size: 40px;
  }

  #clock-box {
    padding: 15px 20px;
    width: 95%;
    max-width: 350px;
  }
}
