* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: 100vw;

  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.tip-box {
  width: 100%;
  max-width: 400px;
  background: white;
  margin-top: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.tip-box input {
  width: 100%;
  padding: 4px;
  font-size: 10px;

  border: none;
  border-bottom: 2px solid #ccc;

  outline: none;
  transition: border-color 0.3s ease;
}
.tip-box input:focus {
  border-bottom: 2px solid rgb(0, 188, 212, 0.5);
}

#calculate-btn {
  background-color: #00bcd4;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: 0.3 ease;

  width: 100%;
  margin-top: 10px;
}
#calculate-btn:hover {
  background-color: #009bb3; /* darker blue */
  transform: scale(1.05); /* scale up slightly */
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

